<div class="container">
    <pre>{{ comicDTO | json }}</pre>
    <form [formGroup]="gestionarComicForm">
        <h1>Gestionar Comic</h1>
        <hr>        
        
        <div class="row">
            <div class="col-6">
                <label for="nombreComic">Nombre del comic:<pre>{{ comicDTO.nombre }}</pre></label>
            </div>
            <div class="col-6">
                <label for="cantidadComic">Cantidad a comprar:</label>
                <input type="text" class="form-control" id="cantidad" maxlength="50" formControlName="cantidad"
                    [ngClass]="{ 'is-invalid' :  submitted && f.cantidad.errors }">
                <div *ngIf="submitted && f.cantidad.errors">
                    <span class="text-danger" *ngIf="f.cantidad.errors.required">Campo requerido.</span>
                    <span class="text-danger" *ngIf="f.cantidad.errors.maxlength">El campo solo recibe 50 caracteres.</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <div *ngIf="mostrarItem" class="alert alert-danger" role="alert">    
                    ERROR: <pre>{{ mensajeEjecucion | json }}</pre> 
                    <button type="button" class="btn btn-danger" (click)="cerrar()">Cerrar</button> 
                </div>
            </div>
            <div class="col-6">
                <button type="button" class="btn btn-primary" (click)="comprarComic()">Comprar</button>    
                <button type="button" class="btn btn-primary" [routerLink]="['/gestionar-comic']">Cancelar</button> 
            </div>
        </div>
    </form>
</div>
